.modal {
  width: 100dvw;
  height: 100dvh;

  position: absolute;
  inset: 0;

  display: grid;
  place-items: center;
}

.modalCover {
  width: 100%;
  height: 100%;
  position: absolute;

  inset: 0;
  background-color: #000000bb;
  z-index: 11;
}

.modalContent {
  width: 350px;
  z-index: 12;
}

.modalForm {
  background: #fff200;
  border-radius: 0.5rem;
  padding: 1.5rem;

  margin-bottom: 1rem;
}

.modalButtons {
  display: flex;
  gap: 1rem;

  button {
    border-radius: 0.5rem;
    padding: 0.625rem;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }

  button:nth-child(1) {
    background-color: #8f43ee;
    flex: 1;

    font: 500 1rem 'Montserrat';
    color: #fff;
  }

  button:nth-child(2) {
    background-color: #303030;
  }
}

.modalLabel {
  font: 600 1rem 'Montserrat';
  color: #111;
  display: block;

  margin-bottom: 0.5rem;
}

.modalTitleInput {
  font: 600 1rem 'Montserrat';
  color: #222;
  margin-bottom: 0.5rem;
}

.modalDescriptionInput {
  font: 400 0.75rem 'Montserrat';
  color: #222;
  margin-bottom: 0.5rem;
}

.modalXP {
  font: 800 0.75rem 'Montserrat';
  color: #8f43ee;
}
